PORT=5000
MONGO_URI=mongodb://localhost:27017/agroai
NODE_ENV=development
JWT_SECRET=supersecretjwtkey_please_change_in_production
VITE_GEMINI_API_KEY=your_gemini_api_key
GEMINI_API_KEY=your_gemini_api_key
GEMINI_API_KEY_2=your_gemini_api_key
GEMINI_API_KEY_3=your_gemini_api_key
OPENWEATHER_API_KEY=your_openweather_api_key_here
